        <div id="templatemo_content">
            <div id="templatemo_content_title">
                Hoşgeldiniz!!
            </div>
            <div id="templatemo_content_text">
                 <div>
                    Üniversitemiz Mühendislik Fakültesi Bilgisayar Mühendisliği Bölümünün girişimleri ile slhkl yetenek kuşağı 
                    programı kapsamında<br><br> üniversitemiz öğrencilerine yönelik "Teoriden Pratiğe Yazılım Teknolojileri 
                    Buluşmaları" konulu program düzenlenecektir.
                </div>
                <div id="templatemo_content_name">
                    Salih Kol
                </div>
                <div>
                    Düzenleyici<br><br>
                    Cumhuriyet Üniversitesi Bilgisayar Mühendisliği Öğrencisi
                </div>    
            </div>
            <div id="templatemo_content_end_title">
                Herkes Davetlidir!!
            </div>
        </div>