        <div id="templatemo_info">
            <div id="templatemo_info_text">
                <div id="templatemo_info_title">
                    Ne zaman ?
                </div>
                25 temmuz 2025 tarihinde düzenlenicektir.
            </div>
            <div id="templatemo_info_text_right">
                <div id="templatemo_info_title">
                    Nerede ?
                </div>
                Cumhuriyet Üniversitesi Kampüsü Sivas/Merkez
            </div>
            
            <div id="templatemo_info_contact">
                <div id="templatemo_info_contact_title">
                    İletişim
                </div>
                <input type="text" name="isim" placeholder="Adınız">    
                <input type="text" name="soyisim" placeholder="Soy Adınız">   
                <input type="text" name="telnumber" placeholder="Telefon numaraniz">  
                <textarea name="message" placeholder="Mesajınız."></textarea>
                <input type="submit" value="Kaydet">         
            </div>
        </div>